body{
    background-color: grey;
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: auto;
    padding: 60px;
    background-color: white;
    width: 50%;

} 
form{
    color: grey;
    padding: 20px;
    border-radius: 10px;
}